/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  background: #fff;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}
body a, a:hover {
  cursor: pointer;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: "Quicksand", sans-serif;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: 'Quicksand', sans-serif;
}
.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.icon span {
  color: #FF6600;
    font-size: 25px;
    line-height: 70px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* BANNER WITH HEADER */
.w3lhny-banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./img/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.w3_hny_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.w3_hny_header h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.w3menu-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.w3menu-right-content .search-bar {
  display: flex;
}
.w3menu-right-content .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgba(22, 28, 45, 0.7);
  border: none;
  font-weight: 400;
  border-radius: 6px;
  position: relative;
  right: 0;
  background-color: #fff;
  outline: 0;
  border: 1px solid white;
}
.w3menu-right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}
.theme-switch input {
  display: none;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}
.mode-container i.gg-sun {
  display: none;
  color: #eee;
}
.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.gg-sun:before {
  transform: rotate(-45deg);
}
.gg-sun:after {
  transform: rotate(45deg);
}
.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}
input:checked + .mode-container i.gg-sun {
  display: block;
}
.mode-container i.gg-moon {
  display: block;
  color: #eee;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}
.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}
.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
input:checked + .mode-container i.gg-moon {
  display: none;
}
button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
  z-index: 99999;
}
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 6px;
}
@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul li {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 3em;
}
li {
  list-style-type: none;
}
.overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.w3lhny-banner .bannerhny-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.w3lhny-banner .bannerhny-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.w3lhny-banner .bannerhny-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
/* CONTENT 1 */
.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.w3l-content-1 p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}
/* <!--w3l-agents-block --> */
.w3l-agent-block {
  background: #ff6600;
}
.agent-block-image {
  background: url(./img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-position: center;
  z-index: 1;
  position: relative;
  display: block;
}
.agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.title-subhny.two {
  color: #fff;
}
.w3l-agent-block p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
}
.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.subscribe-cat-gd .icon {
  background: #fff;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
.subscribe-cat-gd .icon:hover span.fa {
  color: #ffc107;
}
.subscribe-cat .subscribe-cat-link {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}
.subscribe-cat a {
  text-decoration: none;
}
/* NEW */
.new{
  background-color: #f7f7f7;
}
.title-pacifico{
  font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FF6600;
    display: block;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0rem;

}

.title-content{
  font-size: 38px;
    line-height: 48px;
    font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.new-item-img{
  position: relative;
}
.new-item-img img{
  max-width: 100%;
  border-radius: 6px;
  height: auto;
}
.new-item-img img:hover{
  opacity: 0.85;
  transition: all 0.4s;
}
.new-item-img ::after{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  border-radius: 6px;
}
.new-item-info{
  left: auto;
    bottom: 0;
    width: 95%;
    padding: 0 10px;
    position: absolute;
    opacity: 1;
    transform: translate3d(0, 10%, 0);
}
.new-item-info a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.new-item-info h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #ffc600;
  opacity: 0.9;
}
/* END NEW */

/* HOME SERVICE */
.home-service{
  position: relative;
}
.box{
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
}
.box-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.box-grid h4{
  margin-bottom: 0px;
}
.box-grid .info h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
  font-family: "Quicksand", sans-serif;

}
.box-grid h4 a:hover{
  color: #FF6600;
}
.box:hover .icon{
  background-color: #ff6600;
    transition: 0.3s ease-in-out;
}
.box:hover .icon span{
  color: #fff;
    transition: 0.3s ease-in-out;
}
/* END HOME SERVICE */

/* MIDDLE */
.middle{
  background: url(./img/banner2.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.middle:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.middle-content{
  max-width: 700px;
  margin: 0 auto;
}
.middle-content h3{
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
  font-family: "Quicksand", sans-serif;
}
.btn{
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
.btn-color{
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
.btn-color:hover{
  opacity: 0.8;
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
/* END MIDDLE */
/* STATS */
.stats{
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
.stat-item{
  background-color: #fff;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: .3s ease;
}
.stat-item:hover{
  transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
}
.stat-item i {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.counter{
  font-size: 2.6em;
    font-weight: 500;
    color: #232121;
}
p.count-text {
  text-transform: capitalize;
  color: rgba(22, 28, 45, 0.7);
  font-weight: 600;
}
/* END STATS */
/* BACK TO TOP */
 #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #FF6600;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}
/* END BACK TO TOP */
/* /* RESPONSIVE */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}